rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inscriptions/{document} {
      // Tout le monde peut s'inscrire
      allow create: if true;
      // Lecture sécurisée (même avec ces règles, le mot de passe frontend protège)
      allow read: if true;
      allow update, delete: if false;
    }
  }
}